<!--<!DOCTYPE html><html>
<head>   
    <style>
        table, th, td {
            border: 1px solid black;
        }
        </style>  
     <title>
         {{title}}
    </title>
</head>
<center>
    <body>

        <div class="bg-image" style="background-image: url('https://previews.123rf.com/images/bankrx/bankrx2006/bankrx200600605/149953727-tile-letter-on-red-rack-in-word-reset-on-wood-background.jpg');
      height: 100vh">
        <div>
            <table style="width:100">
                <tr>
                    <th> <h2>Well done!</h2>    </th> </tr>
                <tr><td>     
                        <p><b>An Email has been sent with instructions to reset your password.</b></p>
                     </td></tr> 
                <tr><th>  
                    <br> <h2>Check Your Email!</h2></p>     
                </th>   </tr>
            </table> 
        </div> 
    </body>
    </center>
</html>
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="/image/png" href="{% static 'images/icons/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"crossorigin="anonymous">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter" style="background-color: #ebeeef">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('{% static "images/bg-01.jpg" %}');">
					<span class="login100-form-title-1">
						Well DONE
					</span>
				</div>
                {% if err %}
                <div style="margin:0 10px; margin-top: 15px;" class="alert alert-info mb-2">
                    {{ err }}
                </div>
                {% endif %}  
                
                		</div>
					</div><div class="w-full" style="border-bottom:1px solid #dadde1;">  </div>
					<div class="flex-sb-m w-full p-t-5 m-l-30">
						  
				</form>
				
			</div>
		</div>
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jsFunction.js' %}"></script>
</body>

</html>