{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="/image/png" href="{% static 'images/icons/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"crossorigin="anonymous">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter" style="background-color: #ebeeef">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('{% static "images/bg-01.jpg" %}');">
					<span class="login100-form-title-1">
						Complete 
					</span>
				</div>
                <div style="margin:0 10px; margin-top: 15px;" class="alert alert-info mb-2">
					Process is a complete 
                </div>
        
                
                <div class="container">
                 
                        <div class="text-center">
                        <a href="{% url 'login' %}" >
                        <center><button type="submit" class="login100-form-btn btn-margin" >
                           Back to Login 
                        </button></center></a>
						
                    </div>
                </div>
                
                		</div>
                       
					</div><div class="w-full" style="border-bottom:1px solid #dadde1;">  </div>
					<div class="flex-sb-m w-full p-t-5 m-l-30">
						  
				</form>
				
			</div>
		</div>
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jsFunction.js' %}"></script>
</body>

</html>