{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="/image/png" href="{% static 'images/icons/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"crossorigin="anonymous">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter" style="background-color: #ebeeef">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('{% static "images/bg-01.jpg" %}');">
					<span class="login100-form-title-1">
						Reset Password
					</span>
				</div>

                <form class="login100-form" action="Password_Reset"  method="POST">
					{% csrf_token %}
			<!--		<div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
						<span class="label-input100">New Password<span style="color: #ff5e13;">&nbsp;*</span></span>
						<input id="passwd" class="input100" type="password" name="new_pass" placeholder="Enter new Password" required>
						<span class="eye-icon">
						<span class="focus-input100"></span>
				
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
						<span class="label-input100">Confirm Password<span style="color: #ff5e13;">&nbsp;*</span></span>
						<input id="passwd" class="input100" type="password" name="confirm_pass" placeholder="Enter your confirm Password" required>
						<span class="eye-icon">
						<span class="focus-input100"></span>
				
                    </div> -->
					
					
					
					{% if err %}
				<div style="margin:0 10px; margin-top: 15px;">
					{{ err }}
				</div>
				{% endif %}

				
					<div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
						<span class="label-input100">Password<span style="color: #ff5e13;">&nbsp;*</span></span>
						<input id="passwd" class="input100" type="password" name="new_pass" placeholder="Enter Password" required>
						<span class="eye-icon"><i id="eye-password" class="fas fa-eye-slash"></i></span>
						<span class="focus-input100"></span>
						{% if form.errors.new_pass %}
						<div class="alert alert-danger alert-dismissible fade show">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>{{form.errors.new_pass}}</strong>
						</div>
						{% endif %}
						<ul id="ListPopOn" class="list-group list-group-flush" style="display: none;">
							<li class="list-group-item">
								<span class="lower-case invalid">
									<i class="fas fa-times-circle " aria-hidden="true"></i>&nbsp;LowerCase
								</span>
							</li>
							<li class="list-group-item">
								<span class="upper-case invalid">
									<i class="fas fa-times-circle" aria-hidden="true"></i>&nbsp;UpperCase
								</span>
							</li>
							<li class="list-group-item">
								<span class="number-digits invalid">
									<i class="fas fa-times-circle" aria-hidden="true"></i>&nbsp;Number (0-9)
								</span>
							</li>
							<li class="list-group-item">
								<span class="special-characters invalid">
									<i class="fas fa-times-circle" aria-hidden="true"></i>&nbsp;Special Characters
								</span>
							</li>
							<li class="list-group-item">
								<span class="AtLeast-Eight invalid">
									<i class="fas fa-times-circle" aria-hidden="true"></i>&nbsp;At Least 8 Char
								</span>
							</li>
						</ul>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate="Confirm Password is required">
						<span class="label-input100">Confirm Password<span style="color: #ff5e13;">&nbsp;*</span></span>
						<input id="Cpasswd" class="input100" type="password" name="confirm_pass" placeholder="Enter Confirm password" required>
						<span class="eye-icon"><i id="eye-cpass" class="fas fa-eye-slash"></i></span>
						<span class="focus-input100"></span>
						{% if form.errors.confirm_pass %}
						<div class="alert alert-danger alert-dismissible fade show">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>{{form.errors.confirm_pass}}</strong>
						</div>
						{% endif %}
					</div>
					
                    <div class="container">
						<div class="container-login100-form-btn">
							<button type="submit" value="{{id}}" name="id" class="login100-form-btn btn-margin" >
								Reset Password
							</button>
						</div>
						
						
					</div>

					</div><div class="w-full" style="border-bottom:1px solid #dadde1;">  </div>
					<div class="flex-sb-m w-full p-t-5 m-l-30">
						  
				</form>
				
			</div>
		</div>
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jsFunction.js' %}"></script>
</body>

</html>
