{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="/image/png" href="{% static 'images/icons/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"crossorigin="anonymous">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter" style="background-color: #ebeeef">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('{% static "images/bg-01.jpg" %}');">
					<span class="login100-form-title-1">
						Password Reset {{ Users }}
					</span>
				</div>
				<form class="login100-form" action="{% url 'rest_password' %}" method="POST">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
						<span class="label-input100">Email Id<span style="color: #ff5e13;">&nbsp;*</span></span>
						<input class="input100" type="email" name="email" placeholder="Enter Email" value="{{form.data.email}}" required>
						<span class="focus-input100"></span>
					</div>

			
					<div class="container">
						<div class="container-login100-form-btn">
							<button type="submit" class="login100-form-btn btn-margin">
								Reset Password
							</button>
						</div>
					</div>
				
				</form>
				
			</div>
		</div>
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jsFunction.js' %}"></script>
</body>

</html>